p {
  margin-bottom: 5px;
}

h2 {
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    font-weight: bold;
}

h3 {
  font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
}
    