.bg-image-welcome {
  background-image: url("./img/wrapped-welcome.png");
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.logo {
  background-color: white;
  width: 100%;
  height: auto;
  aspect-ratio: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-link:link { 
  text-decoration: none; 
} 
.nav-link:visited { 
  text-decoration: none; 
} 
.nav-link:hover { 
  text-decoration: none; 
} 
.nav-link:active { 
  text-decoration: none; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.site-info {
  flex: 1;
}

.graph-wrapper {
  flex: 1;
}

figure {
  margin: 0px;
}