.node-panel {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  top: 0px;
  height: 100%;
  width: 100%;
}

img {
  width: 50%;
  max-width: 300px;
  height: auto;
  aspect-ratio: 1/1;
}
td {
  padding: 1px 5px 1px;
}