.report-panel {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
}

.show-grid {
    padding: 10px 5px;
    margin-top: 6px;
    margin-bottom: 6px;
}