.panel-heading {
  font: 16px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
}
.side-panel-subtitle {
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
}

.side-panel {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0px;
  height: 100%;
  right: 0px;
  width: 40%;
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  z-index: auto
}
