.wrapped-final-text {
  font: 20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  /* border: 1px solid white; */
  margin: 0px 30px 0px 30px;
  padding: 200px 10px 10px 10px;
  color: #f8eae0;
  text-align: center;
}
