#wrapper {
  height: 600px;
}

.wrapped-heatmap {
    width: 100%;
    height: 50%;
  }
  
h2 {
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: bold;
}

h3 {
  font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
}
    
.legend-ramp {
  background: rgba(0,0,0,0) !important;
  margin: 10px 10px 10px 20px;
  color: white;
}

.chart-figure {
  color: white;
}


.wrapped-ranking.narrative {
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  /* border: 1px solid white; */
  margin: 30px 30px 10px 30px;
  overflow: hidden; /* if you don't want #second to wrap below #first */
  color: #f8eae0;
  text-align: justify;
}
