.bg-image {
  background-image: url("./img/wrapped.png");
  background-size: cover;
  background-attachment: fixed;
}


.wrapped-grid {
  margin: auto;
  /* display: block; */
  width: 90%;
  /* text-align: center; */
}
